/* header layout*/
body {
	font-family: "Lucida Console", "Courier New", monospace;
}

ul {
	display: flex;
	list-style-type: none;
	gap: 25px;
	margin: 0 0 0 0;
	padding: 0 80px 0 0 ;
}

a {
	text-decoration: none;
	color: #FFEBCD;
}

a:hover, a:active {
  color: #85461E;
}
.header {
	display: flex;
	flex: auto;
	background-color: #1F2937;
	padding: 10px 10px 10px 0px;
	justify-content: space-between;
	align-items: center;
}
.logo {
	width: 60px;
	height: auto;
}

/* layout for the welcome section */

.container {
	display: flex;
	flex-flow: column wrap;
	max-width: 550px;
	color: white;
}

.welcome {
	display: flex;
	height: 400px;
	flex: 1;
	justify-content: center;
	align-items: center;
	padding: 15px 150px;
	gap: 110px;
	background-color: #1F2937;
	margin-bottom: 80px;
}

.normal-text {
	line-height: 1.5;
}

/* layout for img section */

.main h2 {
	text-align: center;
}

.main p {
	text-align: center;
}

.imgtext {
	display: flex;
	flex-flow: column;
	flex: 10%;
	justify-content: flex-start;
	align-items: center;
	padding: 40px;
}

.img-container {
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	margin: 50px 0px;
}

/* layout for quote section */

.quotation {
	font-size: 30px;
	font-style: italic;
	color: #1F2937;
}

#author {
	text-align: right;
	font-weight: bold;
	font-size: 25px;
}

.quote {
	display: flex;
	flex-direction: column;
	background-color: #E5E7EB;
	height: 450px;
	justify-content: center;
	align-items: space-between;
	padding: 80px;
}

/* layout sign-up section */
.bold {
	font-weight: 600;
	font-size: 20px;
}
.sign-up-text {
	max-width: 600px;
	font-size: 18px;
}
.sign-up {
	display: flex;
	justify-content: center;
	gap: 50px;
	align-items: center;
	flex: 1 1 0px;
	margin: 80px 170px;
	padding: 20px;
	background-color: #3882F6;
	color: white;
	border-radius: 20px;
}
#white-button {
	border: solid 3px white;
}

/* footer layout */

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #1F2937;
	padding: 20px;
	height: 60px;
	color: white;
}
/* styling */
.rounded-corners {
	border-radius: 15px;
}

.button {
	background-color: #3882F6;
	padding: 15px;
	width: 115px;
	border: none;
	border-radius: 5px;
	font-family: inherit;
	color: inherit;
	font-weight: 500;
	font-size: 16px;
}
